:root{
    --blue: #1B3764;
    --yellow: #FFCA42;
    --light-blue: #F6F8FC;
}

* ,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: auto;
}


li{
    text-decoration: none;
}
/* Header Styles */

.navigation{
    display: flex;
    align-items: center;
    width: 1300 px;
 }

.logotype {
    display: flex;
    align-items: center;
}


header {padding-left: 281px;
    background-color: var(--blue);
}

header a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.25
    letter-spacing: -0.01em;
    color : #FFFFFF;
    text-decoration: none ;
}

.nav > li{
 margin-right: 10px;
 padding: 0px;
}

.nav{
    display: flex;
}

.nav-links{
 display: flex;
 margin-left: 251px;
 padding-left: 0;
}

.nav-links > li{
    margin-right: 33px;
}

.order{
    margin-left: auto;
}

 button {
    padding: 0px;
    width: 220px;
 background-color: var(--yellow);
  color: var(--blue);
 font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 19px;
 line-height: 1.25
}

.button-invers{
    background-color: white;
    border: 2px solid var(--yellow);
    color: var(--blue);
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 1.25

}

.free-trial{
    width: 434px;
    height: 65px;
    border: none;
    margin-left: 743px;
    margin-top: 79px;
}

.promo-button{
    margin-top: 31px;
    margin-left: 310px;
    background-color: var(--blue);
    border: 2px solid var(--yellow);
    color: #FFFFFF;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 400;
   font-size: 19px;
   line-height: 1.25

}

.button-blue{
    background-color: var(--blue);
    color: #FFFFFF;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 1.25 
   
}

.button-blue-subscribe{
    width: 300px;
    background-color: var(--blue);
    color: #FFFFFF;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 1.25    ;
   padding-top: 15px;
   padding-bottom: 13px;
   border: none;
}

.logo {
    color: white;
    font-family: 'Inter' , sans-serif ;
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 1.25;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 8px;
}

header li {
    list-style-type: none;
}

body {
    color: #FFFFFF;
}

.hero{ 
    background-color: var(--blue);
    box-sizing: border-box;
    padding-top: 95px;
    padding-left: 281px;
    padding-bottom: 20px;
    background-image: url(./images/book-hero.jpg) ;
    background-repeat: no-repeat;
    background-position: 990px 
}


   

.hero-title{ font-family: 'Cardo';   font-style: italic;   font-weight: 400;   font-size: 24px;  line-height: 1.55;
margin-top: 142px; margin-left: 50px; }

.hero-title-magic{ font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 1.1;
    width: 614px;
    margin-top: 16px;
 margin-bottom: 0px;
 }

.hero-text{
 font-family: 'Inter';
 font-weight: 400;
 font-size: 19px;
 line-height: 1.8;
 color: var(--light-blue);
 width: 614px;
 margin-top: 32px;
 margin-bottom: 49px;
 }
 
.hero-link{
    color: white;
 font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 19px;
 line-height: 1.25;
 padding: 0px;
 margin-left: 37px;
 }
.hero-properties{
 font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 120%;
 display: flex;
 margin: 0px;
 }

 .hero-div {
    margin-top: 49px;
    margin-bottom: 251px;
    padding: 0px;
    display: flex;
 }


.hero-properties-text{
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 170%;
 display: flex;
 margin-right: 80px;
 }

 /* Section 2 */
.bookshelf {
    color: var(--blue );
 }

.bookshelf-title{
 color: var(--blue);
 font-family: 'Cardo';
  font-style: normal;
 font-weight: 700;
 font-size: 45px;
 line-height: 120%;
 margin-top: 145px;
 margin-left: 723px;
 }

 .bookshelf-div-list{
    display: flex;
    padding-left: 340px;
    margin-left: 311px;
    margin-right: 405px;
    background-image: url(./images/book2.jpg), url(./images/book-hero-small.png);
    background-repeat: no-repeat;
    background-size: 300px 390px;
    background-position: 0px -10px, 687px -10px;
    margin-bottom: 140px;
 }

 .bookshelf-div-list > li{
    margin-right: 305px;
 }

.bokkshelf-list{  color: var(--blue );
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 32px;
 line-height: 120%;
 margin: 0px;

 }

.bookshelf-text{
    color: #969AA0;
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 19px;
 line-height: 180%;
 width: 262px;
 }

.bookshelf-properties{
    color: var(--blue);
    ont-family: 'Cardo';
 font-style: normal;
   font-weight: 700;
 font-size: 24px;
 line-height: 120%;
 margin: 0px;
 padding-right: 76px;
 }

 .bookshelf-properties-list{
    display: flex;
    padding-left: 0px;
    padding-right: 76px;
 }

 
.bookshelf-properties-text{
    color: #969AA0;
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 170%;
 margin bottom: 30px;
 margin top: 0px
 }

 /* Section 3 */

.author{
    height: 990px;
    background-color: var(--light-blue);
    color: #969AA0;
    background-image: url(./images/author.jpg), url(./images/qr-code.png), url(./images/fon.png);
    background-repeat: no-repeat;
    background-size: 550px 650px, 130px 130px, 477px 160px;
    background-position: 310px 210px, 1060px 634px, 1042px 619px;
 }


.author-list{
    display: flex;
    width: 568px;
    padding: 0px;
    margin-left: 1042px;
    margin-top: 61px;

}

.author-title{
    color: var(--blue);
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 45px;
 line-height: 120%;
 padding-left: 1042px;
 padding-top: 211px;
 margin: 0px;
 }

.author-text{
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 19px;
 line-height: 180%;
margin: 0px;
 }

 .author-text-main{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;
    padding-left: 1042px;
    width: 1609px;
    }
   

.author-text-value{
    color: var(--blue);
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 55px;
 line-height: 120%;
 margin: 0px;
 }

.author-text-value:nth-child(1){
   margin-right: 140px;
}

/* Section 4 */

.partners-title{
    color: var(--blue);
     font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 45px;
 line-height: 120%;
 margin-top: 140px;
 margin-left: 772px;
 margin-bottom: 62px;
}

.partners-list{
    display: flex;
    align-items: center;
    margin-left: 310px;
}

.partners-names{
    color: var(--blue);
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 120%;
}

.partners-text{
    width: 347px;
    color: #969AA0; 
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 170%;
 padding-right: 97px;
 margin-bottom: 141px;
}

/* Section 5 */

.promo{
    background-color: var(--blue);
    height: 500px;
    background-image: url(./images/promo.jpg);
    background-repeat: no-repeat;
    background-size: 640px 427px;
    background-position: 1004px 37px ;
}

.promo-title{
    font-family: 'Cardo';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 120%;
margin-left: 310px;
padding-top: 120px;
}

.promo-text{
    width: 567px;
    color: var(--light-blue);
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 180%;
margin-left: 310px;
margin-top: 44px;
}

/* Section 6 */

.chapter{ 
    background-color: var(--light-blue);
    color: var(--blue);
    height: 1200px;
}

.chapter-list{
    display: flex;
    width: 1340px;
    flex-wrap: wrap;
    margin-left: 310px;
    padding-left: 0px;
}

.chapter-list > li{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    width: 630px;
    height: 250px;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-left: 54px;
}

.chapter-title{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;
    margin: 0px;
    padding-top: 148px;
    padding-left: 746px;
    padding-bottom: 50px;
}

.chapter-header{
    font-family: 'Cardo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
margin: 0px;
padding-top: 48px;
}

.chapter-text{ 
    width: 524px;
    color: #969AA0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 180%;
margin: 0px;
padding-top: 14px;
}

.chapter-specifity{
    font-family: 'Cardo';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 120%;
margin: 0px;

}

.chapter-value{color: #969AA0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170%;
margin: 0px;
padding-right: 50px;
}

.chapter-contact{ color: #969AA0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170%;
width: 350px;
margin-left: 801px;
margin-top: 32px;
}

.chapter-contact > span{
    color: var(--blue);
    text-decoration: underline;
}

.chapter-properties{
display: flex;
align-self: flex-end;
padding-left: 0px;
}

.chapter-properties > li{
    display: flex;
    align-content: space-between;
    padding-top: 17px;
}

/* Section 7 */

.review{
    flex-direction: column;
    
}

.review-header{
    display: flex;
    width: 326px;
color: var(--blue);
font-family: 'Cardo';
font-style: normal;
 font-weight: 700;
font-size: 45px;
line-height: 120%;   
margin-top: 240px;
margin-left: 310px;
margin-bottom: 0px;
}

.review-list{
    width: 830px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 680px;
    margin-left: 111px;
    margin-top: 141px;
    align-content: center;
}


.review-text{
    width: 418px;
    color: #969AA0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%  ;
    margin-top: 56px;
    margin-left: 310px;
    margin-bottom: 75px;
    
}

.review > a{
    text-decoration: none;
    color: var(--blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;
    margin-left: 310px;
}

.review-box{
    width: 370px;
    height: 309px;
    background-color: var(--blue);
    margin-bottom: 30px;
    margin-right: 30px;
    background-image: url(./images/martin-philips.png), url(./images/christina-louis.png),
    url(./images/christina-louis.png);
    background-repeat: no-repeat;
    background-position: 30px 30px, 30px 30px, 30px 30px;
}


.review-name-main{
    display: flex;
    height: 930px;
    margin: 0px;

}

.review-name{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;   
    margin-top: 54px;
    margin-left: 136px;
    text-decoration: none;
}

.review-title{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;  
    margin-top: 60.33px;
    margin-left: 31px; 
}

.review-all-text{
    color: var(--light-blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;   
    margin-top: 12px;
    margin-left: 31px; 
}

/* Section 8 */

.resources{
    background-color: var(--light-blue);
    height: 1016px;
}

.resources-header{
    color: var(--blue);
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;   
    padding-top: 145px;
    margin-left: 750px;
    margin-bottom: 72px;
}

.resources-list{
    display: flex;
    margin-left: 310px;
}

.resources-block{
    
    background-color: white;
    width: 410px;
    margin-right: 35px;
}

.resources-title{color: var(--blue);
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;  
    margin-top: 27px; 
    margin-left: 31px;
}

.resources-text{color: #969AA0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;  
    margin-top: 14px; 
    margin-left: 31px;
}

.resources a{color: var(--blue);
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;    
}

.resources-date{color: var(--blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;   
}

.resources-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 31px;
    margin-right: 31px;
}

/* Section 9 */

.subscribe{
    background-color: white;
}

.subscribe-div{
    background-color: var(--yellow);
    width: 1300px;
    height: 505px;
    margin-left: 310px;
    margin-top: 161px;
margin-bottom: 150px;
}

.subscribe-title{color: var(--blue);
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;   
    padding-top: 121px;
    margin-left: 415px;
}

.subscribe-text{color: var(--blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;   
    width: 657px;
    text-align: center;
    margin-left: 320px;
    margin-top: 20px;
    margin-bottom: 38px;
}

.subscribe a{
    text-decoration: none;
    background-color: white;
    color: #969AA0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 180%;
padding-top: 17px;
padding-bottom: 17px;
padding-left: 24px;
padding-right:390px;
margin-left: 230px;
}

/* Footer */

footer {
    background-color: var(--blue);
    color: white;
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
  font-size: 18px;
 line-height: 205%;
}

footer a{
color: white;
text-decoration: none;
}

.footer-title{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;   
}

.footer-adress{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;    
}

.footer-copyright{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 200%;   
}


.social-media{
    display: flex;
    text-decoration: none;
}

.footer-main{
    display: flex;
    align-items: flex-start;
}