:root{
    --blue: #1B3764;
    --yellow: #FFCA42;
    --light-blue: #F6F8FC;
}

* ,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: auto;
}



/* Header Styles */

.navigation{
    display: flex;
    align-items: center;
    width: 1300 px;
 }

.logotype {
    display: flex;
    align-items: center;
}


header {padding-left: 281px;
    background-color: var(--blue);
}

header a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.25
    letter-spacing: -0.01em;
    color : #FFFFFF;
    text-decoration: none ;
}

.nav > li{
 margin-right: 10px;
 padding: 0px;
}

.nav{
    display: flex;
}

.nav-links{
 display: flex;
 margin-left: 251px;
 padding-left: 0;
}

.nav-links > li{
    margin-right: 33px;
}

.order{
    margin-left: auto;
}

 button {
    padding: 0px;
    width: 220px;
 background-color: var(--yellow);
  color: var(--blue);
 font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 19px;
 line-height: 1.25
}

.button-invers{
    background-color: white;
    border: 2px solid var(--yellow);
    color: var(--blue);
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 1.25

}

.promo-button{
    background-color: var(--blue);
    border: 2px solid var(--yellow);
    color: #FFFFFF;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 400;
   font-size: 19px;
   line-height: 1.25
}

.button-blue{
    background-color: var(--blue);
    color: #FFFFFF;
   font-family: 'Cardo';
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 1.25    
}



.logo {
    color: white;
    font-family: 'Inter' , sans-serif ;
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 1.25;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 8px;
}

header li {
    list-style-type: none;
}

body {
    color: #FFFFFF;
}

.hero{ 
    background-color: var(--blue);
    box-sizing: border-box;
    padding-top: 95px;
    padding-left: 281px;
    padding-bottom: 20px;
    background-image: url(./images/book-hero.jpg) ;
    background-repeat: no-repeat;
    background-position: 990px 
}


   

.hero-title{ font-family: 'Cardo';   font-style: italic;   font-weight: 400;   font-size: 24px;  line-height: 1.55;
margin-top: 142px; margin-left: 50px; }

.hero-title-magic{ font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 1.1;
    width: 614px;
    margin-top: 16px;
 margin-bottom: 0px;
 }

.hero-text{
 font-family: 'Inter';
 font-weight: 400;
 font-size: 19px;
 line-height: 1.8;
 color: var(--light-blue);
 width: 614px;
 margin-top: 32px;
 margin-bottom: 49px;
 }
 
.hero-link{
    color: white;
 font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 19px;
 line-height: 1.25;
 padding: 0px;
 margin-left: 37px;
 }
.hero-properties{
 font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 120%;
 display: flex;
 margin: 0px;
 }

 .hero-div {
    margin-top: 49px;
    margin-bottom: 251px;
    padding: 0px;
    display: flex;
 }


.hero-properties-text{
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 170%;
 display: flex;
 margin-right: 80px;
 }

 /* Section 2 */
.bookshelf {
    color: var(--blue );
 }

.bookshelf-title{
 color: var(--blue);
 font-family: 'Cardo';
  font-style: normal;
 font-weight: 700;
 font-size: 45px;
 line-height: 120%;
 margin-top: 145px;
 margin-left: 723px;
 }

 .bookshelf-div-list{
    display: flex;
    padding-left: 340px;
    margin-left: 311px;
    margin-right: 405px;
    background-image: url(./images/book2.jpg), url(./images/book-hero.jpg);
    background-repeat: no-repeat;
    background-size: 300px 390px;
    background-position: 0px -10px, 687px -10px;
    margin-bottom: 140px;
 }

 .bookshelf-div-list > li{
    margin-right: 405px;
 }

.bokkshelf-list{  color: var(--blue );
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 32px;
 line-height: 120%;
 margin: 0px;

 }

.bookshelf-text{
    color: #969AA0;
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 19px;
 line-height: 180%;
 width: 262px;
 }

.bookshelf-properties{
    color: var(--blue);
    ont-family: 'Cardo';
 font-style: normal;
   font-weight: 700;
 font-size: 24px;
 line-height: 120%;
 margin: 0px;
 padding-right: 76px;
 }

 .bookshelf-properties-list{
    display: flex;
    padding-left: 0px;
    padding-right: 76px;
 }

 
.bookshelf-properties-text{
    color: #969AA0;
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 170%;
 margin bottom: 30px;
 margin top: 0px
 }

 /* Section 3 */

.author{
    background-color: var(--light-blue);
    color: #969AA0;
 }

.author-title{
    color: var(--blue);
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 45px;
 line-height: 120%;
 }

.author-text{
 font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 19px;
 line-height: 180%;
 }

.author-text-value{
    color: var(--blue);
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 55px;
 line-height: 120%;
 }

.author-name{
    color: var(--yellow);
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 22px;
 line-height: 120%;
 }

/* Section 4 */

.partners-title{
    color: var(--blue);
     font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 45px;
 line-height: 120%;
}

.partners-names{
    color: var(--blue);
    font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 24px;
 line-height: 120%;
}

.partners-text{
    color: #969AA0; 
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 170%;
}

/* Section 5 */

.promo{
    background-color: var(--blue);
}

.promo-title{
    font-family: 'Cardo';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 120%;
}

.promo-text{
    color: var(--light-blue);
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 180%;
}

/* Section 6 */

.chapter{ 
    background-color: var(--light-blue);
    color: var(--blue);
}

.chapter-title{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;
}

.chapter-header{
    font-family: 'Cardo';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
}

.chapter-text{ color: #969AA0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 180%;
}

.chapter-specifity{
    font-family: 'Cardo';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 120%;
}

.chapter-value{color: #969AA0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170%;
}

.chapter-contact{ color: #969AA0;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 170%;
}

.chapter-contact span{
    color: var(--blue);
    text-decoration: underline;
}

/* Section 7 */

.review-header{color: var(--blue);
font-family: 'Cardo';
font-style: normal;
 font-weight: 700;
font-size: 45px;
line-height: 120%;   
}

.review-text{color: #969AA0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%   
}

.review>a{
    text-decoration: none;
    color: var(--blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;
}

.review-box{
    background-color: var(--blue);
}

.review-name{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;   
}

.review-title{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;   
}

.review-name-text{
    color: var(--light-blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;   
}

/* Section 8 */

.resources{
    background-color: var(--light-blue);
}

.resources-header{
    color: var(--blue);
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;   
}

.resources-block{
    background-color: white;
}

.resources-title{color: var(--blue);
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;   
}

.resources-text{color: #969AA0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;   
}

.resources a{color: var(--blue);
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;    
}

.resources-date{color: var(--blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 125%;   
}

/* Section 9 */

.subscribe{
    background-color: var(--yellow);
}

.subscribe-title{color: var(--blue);
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 120%;   
}

.subscribe-text{color: var(--blue);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;   
}

.subscribe a{
    background-color: white;
    color: #969AA0;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 180%;
}

/* Footer */

footer {
    background-color: var(--blue);
    color: white;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 205%;
}

footer a{
color: white;
text-decoration: none;
}

.footer-title{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;   
}

.footer-adress{
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;    
}

.footer-copyright{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 200%;   
}