:root{
    --blue: #1B3764;
    --yellow: #FFCA42;
    --light-blue: #F6F8FC;
}

/* Header Styles */
header {
    background-color: var(--blue);
}

header a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.25
    letter-spacing: -0.01em;
    color: #FFFFFF;
    text-decoration: none ;
    
}

 button {
 background-color: var(--yellow);
  color: var(--blue);
 font-family: 'Cardo';
 font-style: normal;
 font-weight: 700;
 font-size: 19px;
 line-height: 1.25
}

.logo {
    color: white;
    font-family: 'Inter' , sans-serif ;
   font-style: normal;
   font-weight: 700;
   font-size: 28px;
   line-height: 1.25;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header li {
    list-style-type: none;
}


.hero{ background-color: var(--blue);}


.hero-title{ font-family: 'Cardo';   font-style: italic;   font-weight: 400;   font-size: 24px;  line-height: 1.55; color: white;}

.hero-title-magic{ font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 1.1;
 color: white;}

 .hero-text{
    font-family: 'Inter';
 font-style: normal;
 font-weight: 400;
 font-size: 19px;
 line-height: 1.8;
 color: var(--light-blue);
 }